@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('/fonts/Barlow Semi Condensed 600.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('/fonts/Barlow Semi Condensed 700.ttf');
    font-weight: 700;
}