@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("/fonts/Barlow Semi Condensed 600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("/fonts/Barlow Semi Condensed 700.ttf");
  font-weight: 700;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header .content {
  border: solid 3px rgba(255, 255, 255, 0.29);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__title {
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 767.9px) {
  .header__title {
    font-size: 21px;
    line-height: 16px;
    max-width: 92px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .header__title {
    font-size: 40px;
    line-height: 32px;
    max-width: 175px;
  }
}

@media (max-width: 767.9px), (min-width: 768px) and (max-width: 1365.9px) {
  .header {
    margin-top: 32px;
    border-radius: 5px;
  }
  .header .content {
    padding: 12px 12px 12px 23px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .header {
    margin-top: 48px;
  }
  .header .content {
    padding: 18px 24px 18px 33px;
  }
}

.paper {
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  border-color: transparent;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 6px 0 #2a45c2;
          box-shadow: 0 6px 0 #2a45c2;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

@media (max-width: 767.9px) {
  .paper {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .paper {
    width: 180px;
    height: 180px;
  }
}

.paper:hover {
  -webkit-box-shadow: 0 6px 0 #2a45c2, 0 0px 0px 20px rgba(151, 151, 151, 0.2);
          box-shadow: 0 6px 0 #2a45c2, 0 0px 0px 20px rgba(151, 151, 151, 0.2);
  cursor: pointer;
}

.paper::before {
  content: '';
  background-image: url("/images/icon-paper.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: 50%;
}

@media (max-width: 767.9px) {
  .paper::before {
    height: 53px;
    width: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .paper::before {
    height: 84px;
    width: 72px;
  }
}

.paper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  z-index: 1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#DADADA));
  background-image: linear-gradient(0deg, #F3F3F3, #DADADA);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
          box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
}

.scissors {
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  border-color: transparent;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 6px 0 #c76c1b;
          box-shadow: 0 6px 0 #c76c1b;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

@media (max-width: 767.9px) {
  .scissors {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .scissors {
    width: 180px;
    height: 180px;
  }
}

.scissors:hover {
  -webkit-box-shadow: 0 6px 0 #c76c1b, 0 0px 0px 20px rgba(151, 151, 151, 0.2);
          box-shadow: 0 6px 0 #c76c1b, 0 0px 0px 20px rgba(151, 151, 151, 0.2);
  cursor: pointer;
}

.scissors::before {
  content: '';
  background-image: url("/images/icon-scissors.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: 50%;
}

@media (max-width: 767.9px) {
  .scissors::before {
    height: 53px;
    width: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .scissors::before {
    height: 84px;
    width: 72px;
  }
}

.scissors::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  z-index: 1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#DADADA));
  background-image: linear-gradient(0deg, #F3F3F3, #DADADA);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
          box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
}

.rock {
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  border-color: transparent;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 6px 0 #9d1634;
          box-shadow: 0 6px 0 #9d1634;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

@media (max-width: 767.9px) {
  .rock {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .rock {
    width: 180px;
    height: 180px;
  }
}

.rock:hover {
  -webkit-box-shadow: 0 6px 0 #9d1634, 0 0px 0px 20px rgba(151, 151, 151, 0.2);
          box-shadow: 0 6px 0 #9d1634, 0 0px 0px 20px rgba(151, 151, 151, 0.2);
  cursor: pointer;
}

.rock::before {
  content: '';
  background-image: url("/images/icon-rock.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: 50%;
}

@media (max-width: 767.9px) {
  .rock::before {
    height: 53px;
    width: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .rock::before {
    height: 84px;
    width: 72px;
  }
}

.rock::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  z-index: 1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#DADADA));
  background-image: linear-gradient(0deg, #F3F3F3, #DADADA);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
          box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
}

.score {
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#FFFFFF));
  background: linear-gradient(0deg, #F3F3F3, #FFFFFF);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

@media (max-width: 767.9px) {
  .score {
    padding: 10px 19px;
    max-height: 72px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .score {
    padding: 16px 48px;
  }
}

.score__title {
  color: #2a46c0;
}

@media (max-width: 767.9px) {
  .score__title {
    font-size: 0.625rem;
    letter-spacing: 1.5px;
    line-height: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .score__title {
    letter-spacing: 2.5px;
    line-height: 21px;
  }
}

.score__number {
  color: #3b4363;
}

@media (max-width: 767.9px) {
  .score__number {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .score__number {
    font-size: 4rem;
    font-weight: 700;
  }
}

.step1 {
  background-image: url(/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: contain;
  margin: auto;
}

.step1 .content {
  position: relative;
  margin: auto;
}

@media (max-width: 767.9px) {
  .step1 .content {
    min-height: 219px;
    max-width: 318px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .step1 .content {
    min-height: 319px;
    max-width: 474px;
  }
}

.step1__paper {
  position: absolute;
  top: -25%;
  left: 0;
}

.step1__scissors {
  position: absolute;
  top: -25%;
  right: 0;
}

.step1__rock {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
  font-family: 'Barlow Semi Condensed';
}

.img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

@media (max-width: 767.9px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .container {
    max-width: 704px;
  }
}

.step1 {
  margin-top: 140px;
}
/*# sourceMappingURL=main.css.map */