@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("/fonts/Barlow Semi Condensed 600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("/fonts/Barlow Semi Condensed 700.ttf");
  font-weight: 700;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header .content {
  border: solid 3px rgba(255, 255, 255, 0.29);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__title {
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 767.9px) {
  .header__title {
    font-size: 21px;
    line-height: 16px;
    max-width: 92px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .header__title {
    font-size: 40px;
    line-height: 32px;
    max-width: 175px;
  }
}

@media (max-width: 767.9px), (min-width: 768px) and (max-width: 1365.9px) {
  .header {
    margin-top: 32px;
    border-radius: 5px;
  }
  .header .content {
    padding: 12px 12px 12px 23px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .header {
    margin-top: 48px;
  }
  .header .content {
    padding: 18px 24px 18px 33px;
  }
}

.footer {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__rules {
  color: #ffffff;
  padding: 11px;
  background: transparent;
  outline: 0;
  border-radius: 8px;
  border: solid 1px #ffffff;
  min-width: 128px;
  line-height: 19px;
  letter-spacing: 2.5px;
  font-weight: 700;
}

@media (max-width: 767.9px) {
  .footer__rules {
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .footer__rules {
    margin-left: auto;
  }
}

.footer__rules:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#ffffff));
  background: linear-gradient(0deg, #f3f3f3, #ffffff);
  color: #2a46c0;
  cursor: pointer;
}

.base-shape, .shape-placeholder, .shape[data-shape="paper"], .shape[data-shape="scissors"], .shape[data-shape="rock"] {
  border-width: 10px;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-color: transparent;
}

@media (max-width: 767.9px) {
  .base-shape, .shape-placeholder, .shape[data-shape="paper"], .shape[data-shape="scissors"], .shape[data-shape="rock"] {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .base-shape, .shape-placeholder, .shape[data-shape="paper"], .shape[data-shape="scissors"], .shape[data-shape="rock"] {
    width: 180px;
    height: 180px;
  }
}

.shape-placeholder {
  background: rgba(0, 0, 0, 0.1);
}

.shape[data-shape="paper"] {
  position: relative;
  -webkit-box-shadow: 0 6px 0 #2a45c2;
          box-shadow: 0 6px 0 #2a45c2;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.shape[data-shape="paper"]::before {
  content: '';
  background-image: url("/images/icon-paper.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: 50%;
}

@media (max-width: 767.9px) {
  .shape[data-shape="paper"]::before {
    height: 53px;
    width: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .shape[data-shape="paper"]::before {
    height: 84px;
    width: 72px;
  }
}

.shape[data-shape="paper"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  z-index: 1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#DADADA));
  background-image: linear-gradient(0deg, #F3F3F3, #DADADA);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
          box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
}

.shape[data-shape="scissors"] {
  position: relative;
  -webkit-box-shadow: 0 6px 0 #c76c1b;
          box-shadow: 0 6px 0 #c76c1b;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.shape[data-shape="scissors"]::before {
  content: '';
  background-image: url("/images/icon-scissors.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: 50%;
}

@media (max-width: 767.9px) {
  .shape[data-shape="scissors"]::before {
    height: 53px;
    width: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .shape[data-shape="scissors"]::before {
    height: 84px;
    width: 72px;
  }
}

.shape[data-shape="scissors"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  z-index: 1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#DADADA));
  background-image: linear-gradient(0deg, #F3F3F3, #DADADA);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
          box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
}

.shape[data-shape="rock"] {
  position: relative;
  -webkit-box-shadow: 0 6px 0 #9d1634;
          box-shadow: 0 6px 0 #9d1634;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.shape[data-shape="rock"]::before {
  content: '';
  background-image: url("/images/icon-rock.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: 50%;
}

@media (max-width: 767.9px) {
  .shape[data-shape="rock"]::before {
    height: 53px;
    width: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .shape[data-shape="rock"]::before {
    height: 84px;
    width: 72px;
  }
}

.shape[data-shape="rock"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  z-index: 1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#DADADA));
  background-image: linear-gradient(0deg, #F3F3F3, #DADADA);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
          box-shadow: inset 0 6px 0 rgba(151, 151, 151, 0.3);
}

.shape-selection {
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .shape-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shape-selection__who-select {
  line-height: 32px;
  font-weight: 700;
}

@media (max-width: 767.9px) {
  .shape-selection__who-select {
    margin-top: 17px;
    font-size: 15px;
    letter-spacing: 1.875px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .shape-selection__who-select {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 67px;
    font-size: 24px;
    letter-spacing: 3px;
  }
}

.score {
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#FFFFFF));
  background: linear-gradient(0deg, #F3F3F3, #FFFFFF);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

@media (max-width: 767.9px) {
  .score {
    padding: 10px 19px;
    max-height: 72px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .score {
    padding: 16px 48px;
  }
}

.score__title {
  color: #2a46c0;
}

@media (max-width: 767.9px) {
  .score__title {
    font-size: 0.625rem;
    letter-spacing: 1.5px;
    line-height: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .score__title {
    letter-spacing: 2.5px;
    line-height: 21px;
  }
}

.score__number {
  color: #3b4363;
}

@media (max-width: 767.9px) {
  .score__number {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .score__number {
    font-size: 4rem;
    font-weight: 700;
  }
}

.step1 {
  background-image: url(/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: contain;
  margin: auto;
}

.step1 .content {
  position: relative;
  margin: auto;
}

@media (max-width: 767.9px) {
  .step1 .content {
    min-height: 219px;
    max-width: 318px;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .step1 .content {
    min-height: 319px;
    max-width: 474px;
  }
}

.step1 .shape {
  position: absolute;
}

.step1 .shape:hover {
  -webkit-box-shadow: 0 0px 0px 20px rgba(151, 151, 151, 0.2);
          box-shadow: 0 0px 0px 20px rgba(151, 151, 151, 0.2);
  cursor: pointer;
}

.step1__paper {
  top: -25%;
  left: 0;
}

.step1__scissors {
  top: -25%;
  right: 0;
}

.step1__rock {
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.game-state {
  text-align: center;
  min-width: 236px;
}

@media (max-width: 767.9px), (min-width: 768px) and (max-width: 1365.9px) {
  .game-state {
    max-width: 236px;
    margin: auto;
  }
}

.game-state__who-won {
  color: #ffffff;
  font-size: 56px;
  line-height: 74px;
  font-weight: 700;
}

.game-state__play-again {
  color: #3b4262;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#FFFFFF));
  background: linear-gradient(0deg, #F3F3F3, #FFFFFF);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-top: 9px;
  width: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.game-state__play-again:hover {
  color: #db2e4d;
}

.game-wizard .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.9px) {
  .game-wizard .content {
    max-width: 318px;
    margin: auto;
  }
}

@media (max-width: 767.9px) {
  .game-wizard .shape-selection__shape--winner {
    -webkit-box-shadow: 0 0px 0px 20px rgba(151, 151, 151, 0.06), 0 0px 0px 50px rgba(151, 151, 151, 0.03), 0 0px 0px 82px rgba(151, 151, 151, 0.025);
            box-shadow: 0 0px 0px 20px rgba(151, 151, 151, 0.06), 0 0px 0px 50px rgba(151, 151, 151, 0.03), 0 0px 0px 82px rgba(151, 151, 151, 0.025);
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .game-wizard .shape-selection__shape--winner {
    -webkit-box-shadow: 0 0px 0px 65px rgba(151, 151, 151, 0.06), 0 0px 0px 152px rgba(151, 151, 151, 0.03), 0 0px 0px 250px rgba(151, 151, 151, 0.025);
            box-shadow: 0 0px 0px 65px rgba(151, 151, 151, 0.06), 0 0px 0px 152px rgba(151, 151, 151, 0.03), 0 0px 0px 250px rgba(151, 151, 151, 0.025);
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .game-wizard .shape-selection__shape {
    height: 300px;
    width: 300px;
    border-width: 22px;
  }
  .game-wizard .shape-selection__shape:before {
    width: 79.9px;
    height: 118.23px;
  }
}

.game-wizard__game-state {
  display: none;
}

@media (min-width: 1366px) {
  .game-wizard.round-end .container {
    max-width: inherit;
  }
}

@media (min-width: 1366px) {
  .game-wizard.round-end .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1366px) {
  .game-wizard.round-end .game-wizard__user-selection {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1366px) {
  .game-wizard.round-end .game-wizard__computer-selection {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.game-wizard.round-end .game-wizard__computer-selection .shape-selection__shape {
  -webkit-animation-name: computerShapeSelection;
          animation-name: computerShapeSelection;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes computerShapeSelection {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes computerShapeSelection {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-wizard.round-end .game-wizard__game-state {
  visibility: hidden;
}

@media (max-width: 767.9px), (min-width: 768px) and (max-width: 1365.9px) {
  .game-wizard.round-end .game-wizard__game-state {
    margin-top: 62px;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1366px) {
  .game-wizard.round-end .game-wizard__game-state {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.game-wizard.round-end .game-state {
  display: block;
}

@media (max-width: 767.9px), (min-width: 768px) and (max-width: 1365.9px) {
  .game-wizard.round-end .game-state {
    margin-top: 62px;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1366px) {
  .game-wizard.round-end .game-state {
    margin: 0 68px;
  }
}

.rules-modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  text-align: center;
  top: 0;
  padding: 95px 0 65px 0;
}

@media (max-width: 767.9px) {
  .rules-modal {
    background: white;
  }
}

.rules-modal .container {
  height: 100%;
}

.rules-modal .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.9px) {
  .rules-modal .content {
    margin: auto;
    max-width: 318px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .rules-modal .content {
    z-index: 10;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 32px;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.rules-modal__title {
  font-size: 32px;
  font-weight: 700;
  color: #3b4262;
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .rules-modal__rules-img {
    margin-top: 48px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 48px auto 0 auto;
    width: 100%;
  }
}

.rules-modal__close {
  cursor: pointer;
  background: inherit;
  border: 0;
}

@media (max-width: 767.9px) {
  .rules-modal__close {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .rules-modal__close {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 auto;
  }
}

.rules-modal .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  background: #0c1323;
  opacity: .5;
  left: 0;
}

@media (max-width: 767.9px) {
  .rules-modal .overlay {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
  font-family: 'Barlow Semi Condensed';
}

body.modal-active {
  overflow: hidden;
  position: fixed;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

@media (max-width: 767.9px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1365.9px), (min-width: 1366px) {
  .container {
    max-width: 704px;
  }
}

.main {
  margin-top: 140px;
}
/*# sourceMappingURL=main.css.map */