.header {
    .content {
        border: solid 3px rgba(255, 255, 255, 0.29);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__title {
        color: $white;
        font-weight: 700;
        @media #{$small} {
            font-size: 21px;
            line-height: 16px;
            max-width: 92px;
        }
        @media #{$medium},
        #{$large} {
            font-size: 40px;
            line-height: 32px;
            max-width: 175px;
        }
    }
    @media #{$small},
    #{$medium} {
        margin-top: 32px;
        border-radius: 5px;
        .content {
            padding: 12px 12px 12px 23px;
        }
    }
    @media #{$medium},
    #{$large} {
        margin-top: 48px;
        .content {
            padding: 18px 24px 18px 33px;
        }
    }
}