.step2 {
    .content {
        display: flex;
        justify-content: space-between;
        @media #{$small} {
            max-width: 318px;
            margin: auto;
        }
    }
    .shape-selection {
        &__shape {
            @media #{$medium},
            #{$large} {
                height: 300px;
                width: 300px;
                border-width: 22px;
                &:before {
                    width: 79.9px;
                    height: 118.23px;
                }
            }
        }
    }
}