.user-selection-step {
    background-image: url(/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: contain;
    margin: auto;
    animation-name: user-selection-stepAnimation;
    animation-duration: 1s;
    
    @keyframes user-selection-stepAnimation {
        from{opacity: 0;}
        to{opacity: 1;}
    }
    .content {
        position: relative;
        margin: auto;
        @media #{$small} {
            min-height: 219px;
            max-width: 318px;
        }
        @media #{$medium},
        #{$large} {
            min-height: 319px;
            max-width: 474px;
        }
    }
    .shape {
        position: absolute;
        &:hover {
            box-shadow: 0 0px 0px 20px rgba(#979797, .2);
            cursor: pointer;
        }
    }
    &__paper {
        top: -25%;
        left: 0;
    }
    &__scissors {
        top: -25%;
        right: 0;
    }
    &__rock {
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}